{% extends 'main/layouts.html' %}
{% load static %}
{% block title %}    
    Shop
{% endblock %}
{% block body %}
<style>
    .cardі-piza-main {
        width: calc(50% - 40px);
        background: aliceblue;
        transition: transform 0.2s;
        padding: 20px;
        margin: 20px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        text-align: center;
        border-radius: 8px;

    }
    .cardі-piza-main:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    .card-pizza-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
</style>

<body>
    <h1>Choose Your Pizza</h1>
    <div class="card-pizza-container">
        {% for pizza in pizzas %}
        <a href="/pizza_{{ pizza.id }}" >
            <div class="card-piza-main">
                <img class="pizza-img" src="{% static 'main/images/large_pizza.jpg' %}" alt="{{ pizza.name }}">
                <div class="pizza-name">{{ pizza.name }}</div>
                <div class="pizza-price">Price: ${{ pizza.price }}</div>
                <button class="add-to-cart-btn" data-pizza-id="{{ pizza.id }}" data-quantity="1" data-price="{{ pizza.price }}">Add to Cart</button>
            </div>
        </a>
        {% endfor %}
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    document.querySelectorAll('.add-to-cart-btn').forEach(function(button) {
        button.addEventListener('click', function(event) {
            event.preventDefault();
    
            var pizzaId = this.dataset.pizzaId;  
            var quantity = parseInt(this.dataset.quantity);
    
            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/add_to_cart/', true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.setRequestHeader('X-CSRFToken', '{{ csrf_token }}');
    
            var data = JSON.stringify({pizza_id: pizzaId, quantity: quantity});
            xhr.send(data);
        });
    });
</script>
{% endblock %}