{% extends 'main/layouts.html' %}
{% load static %}
{% block title %}
    Shop
{% endblock %}
{% block body %}
<style>
.pizza-section {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.pizza-image {
    max-width: 100%;
    border-radius: 5px;
}
.pizza-details {
    margin-left: 20px;
}
.pizza-details h2 {
    margin-top: 0;
}
.pizza-details ul {
    list-style-type: none;
    padding: 0;
}
.pizza-details li {
    margin-bottom: 10px;
}
.btn-group {
    display: flex;
    gap: 10px;
}
/* Review styles */
.review {
    border-bottom: 1px solid #ccc;
    padding: 20px 0;
    background-color: #fff;
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 900px;
    margin: 0 auto;
    margin-bottom: 50px;
}
.review p {
    margin: 10px;
    flex: 1;
    word-wrap: break-word;
    white-space: normal;
}
.del-button {
    background-color: #ff5f5f;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.del-button:hover {
    background-color: #e60000;
}



            .like-button-large {
                width: 65px;
                height: 65px;
                background-color: transparent;
                border: none;
                cursor: pointer;
            }

            .like-button-large:hover .heart-icon-large {
                color: red;
            }
            .heart-icon-large {
                font-size: inherit; 
                color: black;
                transition: color 0.3s ease;
            }


.like-count {
    margin-right: 10px;
}
.add-reply-btn,
.toggle-replies-btn {
    background-color: #03658c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-left: 10px;
}
.add-reply-btn:hover{
    background-color: #005580;
}
.toggle-replies-btn:hover{

}
.toggle-replies-btn{

}
.reply-form {
    display: none;
    margin-top: 20px;
}
.reply-form textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}
.reply-form button[type="submit"] {
    background-color: #03658c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.reply-form button[type="submit"]:hover {
    background-color: #005580;
}
.replies-container {
    display: none;
    margin-left: 30px;
}
.reply {
    margin-left: 50px;
}
#add-review-form {
    display: none;
}
form {
    margin-top: 20px;
}
.form-field {
    margin-bottom: 20px;
}
.form-field label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}
.form-field input[type="text"],
.form-field input[type="email"],
.form-field textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical;
}
.form-field button[type="submit"] {
    background-color: #03658c;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.form-field button[type="submit"]:hover {
    background-color: #005580;
}
</style>
<i class="bi bi-heart"></i>
<div class="container">
    {% for pizza in pizzas %}
    {% if pizza.name == "Margherita" %}
        <div class="pizza-section">
            <div>
                <img src="{% static 'main/images/large_pizza.jpg' %}" alt="{{ pizza.name }}" class="pizza-image">
            </div>
            <div class="pizza-details">
                <h2>{{ pizza.name }}</h2>
                <ul>
                    <li>Description: {{ pizza.description }}</li>
                    <li>Price: ${{ pizza.price }}</li>
                </ul>
                <div class="btn-group mt-3">
                    <button class="btn btn-primary">Add to Cart</button>
                    <button class="btn btn-success">Buy Now</button>
                </div>
            </div>
        </div>
    {% endif %}
    {% endfor %}
    {% if request.user.is_authenticated %}
    <h2>Отзывы</h2>
    <button id="add-review-btn" class="toggle-replies-btn">Добавить отзыв</button>
    <div id="reviews-list">
        {% for review in reviews %}
            {% if review.reply_to %}
                <div style="display: none;">
            {% else %}
                <div class="review">
                        <p>{{ review.user }}
                            {% if review.stars == 1 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                            {% elif review.stars == 2 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                            {% elif review.stars == 3 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                            {% elif review.stars == 4 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                            {% elif review.stars == 5 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star" viewBox="0 0 16 16">
                                    <path d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.56.56 0 0 0-.163-.505L1.71 6.745l4.052-.576a.53.53 0 0 0 .393-.288L8 2.223l1.847 3.658a.53.53 0 0 0 .393.288l4.052.575-2.906 2.77a.56.56 0 0 0-.163.506l.694 3.957-3.686-1.894a.5.5 0 0 0-.461 0z"/>
                                </svg>
                            {% endif %}


                            : {{ review.content }}
                        </p>
                    <form class="form-like"  method="post" action="{% url 'add_like' review.id %}">
                        {% csrf_token %}
                        {% if request.user in review.likes.all %}
                            
                        <button class="like-button-large" type="submit" type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="red" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"></path>
                        </svg>
                          </button>
                        
                        {% else %}
                        <button class="like-button-large" type="submit" type="button" class="btn btn-outline-danger">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"></path>
                        </svg>
                          </button>
                        
                        {% endif %}
                    </form>

                    <span class="like-count">{{ review.likes.count }}</span>
                    {% if request.user == review.user %}
                        <form method="post" action="{% url 'delete_review' review.id %}">
                            {% csrf_token %}
                            <button class="del-button" type="submit">Удалить</button>
                        </form>
                    {% elif request.user.is_authenticated and request.user.is_staff %}
                        <form method="post" action="{% url 'delete_review' review.id %}">
                            {% csrf_token %}
                            <button class="del-button" type="submit">Удалить</button>
                        </form>
                    {% endif %}
                    <button class="add-reply-btn">Ответить</button>
                    <form class="reply-form" method="post" action="{% url 'add_review_1' %}">
                        {% csrf_token %}
                        <input type="hidden" name="reply_to" value="{{review.id  }}">
                        <input type="hidden" name="stars" value="5">
                        <div class="form-field">
                            <label for="reply_content">Your Reply:</label>
                            <textarea name="content" id="content" cols="30" rows="3" placeholder="Enter your reply here"></textarea>
                            {% if form.errors %}
                                {% for error in form.errors %}
                                    <span class="row-form-errors">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <button type="submit">Submit Reply</button>
                    </form>
                </div>
                {% if review.replies.all %}
                    <div id="reviews-list">
                        <a class="toggle-replies-btn">Развернуть ответы</a>
                        <div class="replies-container">
                            {% for reply in review.replies.all %}
                                <div class="review">
                                    <br>
                                    <p><strong>{{ reply.user }} ответил: {{ review.user }}</strong>: {{ reply.content }}</p>

                                    <form class="form-like"  method="post" action="{% url 'add_like' review.id %}">
                                        {% csrf_token %}
                                        {% if request.user in review.likes.all %}
                                        <button class="like-button-large" type="submit" type="button" class="btn btn-outline-danger">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
                                        <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143q.09.083.176.171a3 3 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15"></path>
                                        </svg>
                                        </button>
                                        
                                        {% else %}
                                        <button class="like-button-large" type="submit">
                                            <i class="fa fa-heart-o heart-icon-large"></i>
                                        </button>
                                        
                                        {% endif %}
                                    </form>
                                    
                                    <span class="like-count">{{ reply.likes.count }}</span>
                                    {% if request.user == reply.user %}
                                        <form method="post" action="{% url 'delete_review' review.id %}">
                                            {% csrf_token %}
                                            <button class="del-button" type="submit">Удалить</button>
                                        </form>
                                    {% elif request.user.is_authenticated and request.user.is_staff %}
                                        <form method="post" action="{% url 'delete_review' review.id %}">
                                            {% csrf_token %}
                                            <button class="del-button" type="submit">Удалить</button>
                                        </form>
                                    {% endif %}
                                </div>
                            {% empty %}
                                <p>No replies yet.</p>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            </div>
            {% endif %}
        {% endfor %}
    </div>
    <form id="add-review-form" method="post" action="{% url 'add_review_1' %}">
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == 'stars' %}
                <div class="star-rating">
                    {% for choice in field %}
                        {{ choice.tag }}
                        {{ choice.choice_label }}
                    {% endfor %}
                </div>
            {% else %}
                <div class="form-field">
                    {{ field.label_tag }}
                    {{ field }}
                    {% if field.errors %}
                        <span class="row-form-errors">{{ field.errors }}</span>
                    {% endif %}
                </div>
            {% endif %}
        {% endfor %}
        <button type="submit">Отправить отзыв</button>
    </form>
    {% else %}
        <div class="reviews-container">
            <h2>Отзывы</h2>
            <div id="reviews-list">
                {% for review in reviews %}
                    <div class="review">
                        <p>{{ review.user }}: {{ review.content }}</p>
                        <a class="like-count">{{ review.likes }}</a>
                        {% if review.replies.all %}
                            <div class="replies">
                                {% for reply in review.replies.all %}
                                    <p class="reply">{{ reply.user }}: {{ reply.content }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <p>Чтобы оставить отзыв, пожaлуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.</p>
        </div>
    {% endif %}
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $("#add-review-btn").click(function() {
            $("#add-review-form").slideToggle();
        });
        $(".add-reply-btn").click(function() {
            $(this).siblings(".reply-form").slideToggle();
        });
        $(".toggle-replies-btn").click(function() {
            $(this).siblings(".replies-container").slideToggle();
        });
        $(".like-button2").click(function() {
            var repliesContainer = $(this).closest('.review').find('.replies-container');
            repliesContainer.slideToggle();
        });
    });
</script>
{% endblock %}
